.all-elements {
  background: #fff;
}
#sidebar div, #sidebar a, #sidebar p, #sidebar img, #sidebar textarea, #sidebar input, #sidebar label {
  display: block;
  position: relative;
}
.page-content p {
  line-height: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  letter-spacing: 0px;
}
p > a {
  display: inline;
  text-decoration: none;
}
p > a:hover {
  text-decoration: underline;
}
p > span {
  display: inline;
}
span > a {
  display: inline;
}
a > span {
  display: inline;
}
.page-content a {
  position: relative;
  text-decoration: none;
}
.page-content a:hover {
  text-decoration: none;
}
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  display: inline;
}
.header-logo {
  display: block;
  width: auto;
  margin-top: -34px;
}
.top-slider-container .prev-home, .top-slider-container .next-home {
  margin-top: -50px;
}
.sidebar-search {
  display: block;
  background: transparent;
}
.search-box {
  height: 50px;
}
.search-box input {
  width: 200px;
  position: absolute !important;
  background: transparent;
  color: #fff;
  padding-left: 15px;
}
.shortcut-search {
  position: absolute !important;
  background-position: 23px 11px;
  left: 150px;
  border: none;
}
.page-header {
  position: absolute !important;
  background-color: #fff;
}
.page-header, .page-header-clear {
  height: 35px;
}
.page-sidebar {
  background-repeat: no-repeat;
  
}
.page-content {
  position: relative;
  overflow: hidden;
  min-height: 580px;
}
.deploy-sidebar {
  display: block;
  height: 35px;
  background-position: 16px 12px;
}
.siderbar-shortcuts {
  height: 35px;
}
.responsive-image {
  margin-bottom: 0;
}
.sidebar-logo {
  padding-top: 0;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.sidebar-logo span {
  color: rgba(255, 255, 255, 1.1);
  display: inline-block;
}
.sidebar-logo img {
  display: inline-block !important;
  top: 21px;
  right: 11px;
}
.sidebar-breadcrumb {
  font-size: 12px;
}
.unselected-item {
  color: rgba(255, 255, 255, 1.1);
}
#sidebar .nav-submenu {
  display: none;
}
.nav-submenu a {
  color: rgba(255, 255, 255, 1.1);
}
.sidebar-breadcrumb {
  background-color: transparent;
  color: white;
}
.sidebar-shortcuts {
  background-color: transparent;
}
.image-separator {
  margin: 0 auto;
  display: block;
}
.editor-slider {} .editor-slider .prev-home {
  left: 20px;
}
.editor-slider img {
  display: block;
  width: 50%;
  margin: 0 auto;
}
.editor-caption-wrap {
  width: 80%;
  margin: 0 auto;
  color: rgb(102, 102, 102);
}
.editor-caption-wrap .caption-title {
  font-size: 14px;
  font-weight: bold;
  margin: 9px 0px;
  text-align: center;
}
.editor-caption-wrap .caption-content {
  margin: 0 10px 10px 10px;
}
.home-cate-tab-wrap {
  height: 34px;
  white-space: nowrap;
}
.home-cate-tab {
  position: absolute;
  display: inline-block;
}
.home-cate-tab img {
  height: 34px;
}

.home-cate-tab.second {
  right: 0;
}
.home-cate-more-wrap {
  position: relative;
  height: 25px;
}
.home-cate-more-wrap a {
  position: absolute;
  right: 25px;
  color: #666;
  font-size: 15px;
}
.item-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.item-content{
  height: 100%;
}
.item-content img {
  top: 0 !important;
  width: 100% !important;
  margin: 0 auto;
}
.item-title {
  display: table-cell;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
  vertical-align: middle;
}
.item-content .item-text {
  margin: 5px;
}
.item-container .item-header {
  display: table;
  height: 42px;
}
.item-back-btn {
  background: url(../images/sicpc/br_prev_icon&24.png) no-repeat 9px 8px;
  display: inline-block;
  position: relative;
  width: 50px;
  height: 35px;
  line-height: 35px;
}
.item-container audio {
  width: 100%;
}
.hidden {
  display: none;
}

.slider-container:after, .sicpc-slider-wrap:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.sicpc-slider-container {
  overflow: hidden;
}
.sicpc-slider-wrap .box {
  float: left;
}
.animate {
  -webkit-transition: all .3s;
}

.paging-container{
  height: 70px;
}
.paging-container .prev-page, .paging-container .next-page{
  display: inline-block;
  width: 50%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: #1a1a1a;
}

.disabled{
  opacity: .3;
}

/**
*  Phone devices
*/
@media only screen and (max-device-width : 600px) {
  .home-cate-tab.active {
    z-index: 10 !important;
  }
  .home-cate-tab:not(.active) {
    opacity: 0.5 !important;
  }
  .home-cate-content:not(.active) {
    display: none !important;
  }
  .home-cate-content-item img {
    margin: 0 auto;
    display: block;
  }
}

/**
*  Tablet devices
*/
@media only screen and (min-width: 600px) {
  .editor-slider img{
    width: auto;
  }
  .homepage-slider > div{
    float: left;
    width: 33% !important;
  }
  /*.editor-slider .owl-wrapper .owl-item{
    float: left;
    width: 30% !important;
  }*/

  .editor-caption-wrap{
    
  }

  .editor-caption-wrap p{
    word-break: break-all;
    word-wrap: break-all;
  }
    /**
    * home category tabs
    */
    .home-cate-content{
      float: left;
      width: 48%;
      text-align: center;
    }
    .home-cate-tab{
      float: left;
      width: 50%;
    }
    .home-cate-tab img{
      width: 190px;
      margin-left: 25%;
    }

}




