.header-logo {
  width: auto;
}
.page-header {
  background-color: #fff;
}
.page-sidebar {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.sidebar-logo{
  padding-top: 0;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.sidebar-logo img{
  display: inline-block;
  top: 21px;
}
.sidebar-logo span{
  display: inline-block;
}
.unselected-item {
  color: rgba(255, 255, 255, 1.1);
}
.nav-submenu a {
  color: rgba(255, 255, 255, 1.1);
}
.sidebar-breadcrumb {
  background-color: transparent;
  color: white;
}
.sidebar-shortcuts {
  background-color: transparent;
}
.image-separator {
  margin: 0 auto;
}

.editor-slider {

}

.editor-slider .prev-home{
  left: 20px;
}

.editor-caption-wrap, .editor-slider img{
  width: 60%;
  margin: 0 auto;
}


.editor-caption-wrap .caption-title{
  font-size: 14px;
  font-weight: bold;
  margin: 9px 0px;
  text-align: center;
}

.editor-caption-wrap .caption-content{
  margin: 0 10px 10px 10px;

}

.home-cate-tab-wrap {
  height: 34px;
  white-space: nowrap;
}
.home-cate-tab {
  position: absolute;
  display: inline-block;
}
.home-cate-tab img {
  height: 34px;
}
.home-cate-tab.active {
  z-index: 10;
}
.home-cate-content:not(.active) {
  display: none;
}
.home-cate-content-item img {
  margin: 0 auto;
}
.home-cate-tab.second {
  right: 0;
}
.video-container{
  position: static;
}
#video{
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  height: auto !important;
  width: auto !important;
  left: 0;
  top: 0;
  z-index: 100;
}
.hidden {
  display: none;
}