doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='/client/bower_components/amazeui/dist/css/amazeui.min.css')
    link(rel='stylesheet', href='/client/styles/coupon.css')
    
.am-g.am-container.coupon-wrap
  .coupon-row.coupon-title
      img(src="/client/images/coupon/coupon-title.jpg")
  .coupon-row.coupone-content
    .coupon-info
      .coupon-info-header
        span 票券信息
      .coupon-info-content(style="height: 100px")
        .coupon-info-content-row 优惠券码: #{code}
        .coupon-info-content-row 密码: #{pass}

    .coupon-info(style="margin-top: 50px")
      .coupon-info-header
        span 票券说明
      .coupon-info-content(style="height: 130px")
        .coupon-info-content-row 本票券由 上海人口和计划生育宣传教育中心 提供
        .coupon-info-content-row 使用方法 请携带好手机，凭券号及密码，至上海市陕西南路122好103室领取纪念品一份
        .coupon-info-content-row 有效期: 2015.5.30

      
      

