doctype html
html(lang='en')
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0")

    link(rel='stylesheet', href='/client/bower_components/amazeui/dist/css/amazeui.min.css')
    link(rel='stylesheet', href='/client/styles/coupon.css')
    
.am-g.am-container.coupon-wrap
  .coupon-row.coupon-title
      img(src="/client/images/coupon/coupon-title.jpg" width="100%")
  .coupon-row.coupon-content
      a.coupon-btn-take(href="/coupon/loggedin/showcoupon")
       img(src="/client/images/coupon/coupon-take.png")
      

