doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='/client/bower_components/amazeui/dist/css/amazeui.min.css')
    link(rel='stylesheet', href='/client/styles/coupon.css')
    
.am-g.am-container.coupon-wrap
  .coupon-row.coupon-title
      img(src="/client/images/coupon/coupon-title.jpg" width="100%")
  .coupon-row.coupon-content
      a.coupon-btn-take(href="/coupon/loggedin/showcoupone")
       img(src="/client/images/coupon/coupon-take.png")
      

