//- <video id="video" class="video-container" width="100%" height="100%" controls autoplay onclick="this.play();">
//-   <source src="/video/mobile/output.m3u8"/>
//- </video>
.all-elements.video-container.hidden
  video(id="video"  controls autoplay onclick="this.play()")
    source(src="")