doctype html
html
  head
    title= ''
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0")
    link(rel='stylesheet', href='client/styles/style.css')
    link(rel='stylesheet', href='client/bower_components/OwlCarousel/owl-carousel/owl.carousel.css')
    link(rel='stylesheet', href='client/bower_components/videojs/dist/video-js/video-js.css')
    link(rel='stylesheet', href='client/styles/owl.theme.css')
    link(rel='stylesheet', href='client/styles/framework.css')
    link(rel='stylesheet', href='client/styles/sicpc.css')
    script(src='client/bower_components/hammer-touchemulator/touch-emulator.js')
    script.
        TouchEmulator();
    script(src='client/scripts/alameda.js', data-main='client/scripts/main')
    //- script(src='client/scripts/dist.js')
    script.
        var currentPage = '#{page}'
  body
    //- #preloader
    //-   #status
    //-     .center-text
    //-       正在加载中...
    block wrapper