doctype html
html
  head
    title= 'Sicpc Mobile'
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0")
    link(rel='stylesheet', href='/app/styles/style.css')
    link(rel='stylesheet', href='/app/styles/framework.css')
    link(rel='stylesheet', href='/app/styles/sicpc.css')
    script(src='/app/scripts/alameda.js', data-main='/app/scripts/main')
  body
    //- #preloader
    //-   #status
    //-     .center-text
    //-       正在加载中...
    block content