#sidebar.page-sidebar(style='background:url("app/images/sidebar-bg/#{bg}.jpg") no-repeat 100% 100%;')
  .page-sidebar-scroll
    .sidebar-shortcuts
      a.shortcut-search(href="#")
      a.shortcut-close(href="#")

    .sidebar-search
      .search-box
        input.search-field(type='text', name='search', onfocus='', value='')

    .sidebar-logo
      img(src='app/images/misc/logo.png', height='52px')

    .sidebar-breadcrumb.
      导航

    .navigation-item
      a(href='#', class='nav-item home-icon') 首页 <em class='unselected-item'></em>

    .navigation-item
      a(href='#', class='nav-item features-icon') 新婚 <em class='unselected-item'></em>
      



