#sidebar.page-sidebar(style='background:url("images/sidebar-bg/bg.jpg") no-repeat 100% 100%;')
  .page-sidebar-scroll
    .sidebar-shortcuts
      a.shortcut-search(href="#")
      a.shortcut-close(href="#")

    .sidebar-search
      .search-box
        input.search-field(type='text', name='search', onfocus='', value='')

    .sidebar-logo
      img(src='images/misc/logo.png', height='52px')

    .sidebar-breadcrumb.
      导航

    - each menu, i in menus
      - var stateCls = menu.name == page?'selected-item':'unselected-item';
      .navigation-item
        a(href='index?page=#{menu.name}', class='nav-item home-icon') #{menu.name} <em class='#{stateCls}'></em>

    .sidebar-decoration

    .sidebar-breadcrumb.
      COPYRIGHT 2014
      



