<div class="row">
  <div class="col-md-12">
    <div class="col-md-6">
      <div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="collapse navbar-collapse">

              <label for="">题目</label>
              <a href="" ng-click="new()"><i class="fa fa-plus"></i> 新增</a>

            </div>
          </div>

          <div class="panel-body">
            <div class="table-responsive">

               <table class="table table-bordered table-hover table-striped tablesorter">
                <thead>
                  <td>名字</td>
                  <td>分组</td>
                  <td>网站分类</td>
                </thead>
                <tbody>

                </tbody>
                </table>
            
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" ng-class="{glow:newItemCreated==true}">
      <form role="form" ng-submit="submit(selectedItem)">
        <div class="form-group">
          <label for="questionsetName">名字</label>
          <input type="text" class="form-control" id="questionsetName" placeholder="" ng-model="selectedItem.name" required>
        </div>
        
        
        <div class="form-group">

          <label for="">分类</label>
          <div class="input-group">
            <div><div ng-repeat="cate in selectedItem.categories">{{cate.name}} <a href ng-click="removeCategory(cate);">X</a></div></div>
            <div>
              <select ng-model="selectedCategory" ng-options="category for category in categories" ></select>
              <button ng-click="addCategory(selectedCategory)">添加</button>

            </div>
            
          </div>
        </div>
        <div class="panel panel-default">

          <div class="panel-heading">

            <div class="collapse navbar-collapse">

              <label for="">选项</label>
              <a href="" ng-click="newOption()"><i class="fa fa-plus"></i> 新增</a>

            </div>
          </div>

         
        <div class="form-group ">

          <div class="col-sm-12 ">
            <button style="width:100%" type="submit " class="btn btn-default ">保存</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>