$icon-font-path: "/bower_components/bootstrap-sass/vendor/assets/fonts/";

// bower:scss
@import "bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss";
// endbower


.itemGridStyle {
    height: 500px;
}


.s-toolbar{
  margin-bottom: 10px;
}
.s-dropdown{
    position: relative;
}
.s-label-container{
  height: 1.4em;
  .label{
    margin: 0 .2em;
  }

}
.s-admin-image{
  margin-top: .2em;
}